img{
    width: 100%;
    padding: 7px;
   height:250px;
   object-fit: contain;
}
.ccart{
    background-color: #ffff;
    border: 1px solid #eee;
    border-radius: 10px;
    margin: 30px;
    /* box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5); */
   width: 90%;
   overflow: hidden;

}
.productimg{
    transition: 0.8s ease-in-out;

}
.productimg:hover{
    transition: 0.8s ease-in-out;
    transform: scale(1.2);
}